<% content_for :title do %>Prototype dashboard<% end %>
<div class="gridster">
  <ul>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="release-1" data-view="Milestone" data-unordered="true" data-title="This release" style="background-color:#5050c8;"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="release-2" data-view="Milestone" data-unordered="true" data-title="Next" style="background-color:#4040a8;"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="release-3" data-view="Milestone" data-unordered="true" data-title="Coming up" style="background-color:#303088;"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="release-4" data-view="Milestone" data-unordered="true" data-title="Later" style="background-color:#202068;"></div>
</li>

  </ul>
</div>
